<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="WristWatchWonderland are o gama variata de ceasuri de calitate. Puteti gasi de la ceasuri sport si casual pana la ceasuri elegante si premium. La noi puteti gasi un ceas pentru orice ocazie si prentru orice gust!">
        <meta name="keywords" content="ceas, ceasuri, WristWatchWonderland, ceasuri barbati, ceasuri femei, istoric, despre">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <link rel="stylesheet" href="/resurse/css/min_price.css" type="text/css" />
        <title>WristWatchWonderland - Produse</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <label> Nume: <input type="text" id="inp-nume"></label>
        <br><br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons"> Diametru cadran:<!-- trebuie sa aiba acelasi name ca sa formeze un grup -->
            <p>
                <label id="lable1" class="btn btn-outline-secondary" for="i_rad1">Mic (diametru &lt; 30mm)
                    <input id="i_rad1" class="btn-check"  name="gr_rad" value="0:30" type="radio" autocomplete="off"/>
                </label>
            </p>
            <p>
                <label id="lable2" class="btn btn-outline-secondary" for="i_rad2">Mediu (30mm &le; diametru &lt; 37mm)
                    <input id="i_rad2" class="btn-check" name="gr_rad" value="30:37" type="radio" autocomplete="off"/>
                </label>
            </p>
            <p>
                <label id="lable3" class="btn btn-outline-secondary">Mare (37mm &le; diametru)
                    <input id="i_rad3" class="btn-check" name="gr_rad" value="37:1000000000" type="radio" autocomplete="off"/>
                </label>
            </p>
            <p>
                <label id="lable4" class="btn btn-outline-secondary active" for="i_rad4">Toate
                    <input id="i_rad4" class="btn-check" checked name="gr_rad" value="toate" type="radio" autocomplete="off"/>
                </label>
            </p>
        </div>

        <div>Functii ceas:
            <p>
                <label for="locatie">Locatie:</label>
                <input type="checkbox" id="locatie" name="locatie" value="locatie" unchecked>
                
                <label>are
                    <input id="i_rad5"  name="functie_locatie" value="are" type="radio" checked/>
                </label>
                <label>nu are
                    <input id="i_rad6"  name="functie_locatie" value="nu are" type="radio"/>
                </label>
            </p>
            <p>
                <label for="data">Data:</label>
                <input type="checkbox" id="data" name="data" value="data">
                
                <label>are
                    <input id="i_rad7"  name="functie_data" value="are" type="radio" checked/>
                </label>
                <label>nu are
                    <input id="i_rad8"  name="functie_data" value="nu are" type="radio"/>
                </label>
            </p>
            <p>
                <label for="alarma">Alarma:</label>
                <input type="checkbox" id="alarma" name="alarma" value="alarma">
                
                <label>are
                    <input id="i_rad9"  name="functie_alarma" value="are" type="radio" checked/>
                </label>
                <label>nu are
                    <input id="i_rad10"  name="functie_alarma" value="nu are" type="radio"/>
                </label>
            </p>
            <p>
                <label for="cronometru">Cronometru:</label>
                <input type="checkbox" id="cronometru" name="cronometru" value="cronometru">
                
                <label>are
                    <input id="i_rad11"  name="functie_cronometru" value="are" type="radio" checked/>
                </label>
                <label>nu are
                    <input id="i_rad12"  name="functie_cronometru" value="nu are" type="radio"/>
                </label>
            </p>
        </div>

        <div>
            <h3>Brand</h3>
            <label for="brand">Choose your browser from the list:</label>
            <input list="brands" name="brand" id="brand">

            <datalist id="brands">
                <% 
                    const uniqueBrands = new Set();
                    for (let produs of locals.produse) {
                        uniqueBrands.add(produs.brand);
                    }
                    uniqueBrands.forEach(brand => { %>
                        <option value="<%= brand %>"></option>
                    <% });
                %>
            </datalist>
        </div><br>

        <div class="form-floating">
            <label for="descriere_ceas">Detalii despre ceas:</label>
            <textarea class="form-control" id="descriere_ceas" name="descriere_ceas" rows="4" cols="50" placeholder="Descriere produsului" style="height: 100px"></textarea>
        </div><br>

        <% 
            const preturi = new Set();
            for (let produs of locals.produse) {
                preturi.add(parseInt(produs.pret)); // Convertim fiecare pret la integer folosind parseInt
            }
            
            // Convertim setul într-un array folosind spread operator
            const arrayPreturi = [...preturi];
            
            console.log(arrayPreturi);
            
            // Calculăm minimul și maximul din array-ul de preturi
            let minimul = Math.min(...arrayPreturi);
            let maximul = Math.max(...arrayPreturi);
            
            console.log(minimul);
            console.log(maximul);
        %>
        <label> Pret minim: <input class="form-range" type="range" id="inp-pret" value="0" min="<%- minimul %>"  max="<%- maximul%>"> <span id="infoRange">(0)</span></label>
        <label>Select simplu:
            <select id="inp-categorie">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (let opt of locals.optiuni) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>

        <label for="inp_mecanism">Select multiplu:</label>

        <select name="inp_mecanism" id="inp_mecanism" multiple>
            <% const uniqueMecanisme = new Set();
                    for (let produs of locals.produse) {
                        uniqueMecanisme.add(produs.mecanism);
                    }
                    uniqueMecanisme.forEach(mecanism => { %>
                        <option value="<%= mecanism %>"><%= mecanism %></option>
                    <% });
            %>
            <option value="toate" selected>toate</option>
        </select>

        <p>
        <button id="filtrare" class="btn btn-secondary">
            <i class="bi bi-filter"></i>
            <span class="d-none d-md-inline">Filtreaza</span>
        </button> 

        <button id="resetare" class="btn btn-secondary">
            <i class="bi bi-arrow-counterclockwise"></i>
            <span class="d-none d-md-inline">Reseteaza</span>
        </button><br/>
        <button id="sortCrescNume" class="btn btn-secondary">
            <i class="bi bi-sort-up"></i>
            <span class="d-none d-md-inline">Sorteaza crescator dupa diametru/pret si mecanism</span>
        </button>
        <button id="sortDescrescNume" class="btn btn-secondary">
            <i class="bi bi-sort-down"></i>
            <span class="d-none d-md-inline">Sorteaza descrescator dupa diametru/pret si mecanism</span>
        </button>
        
        </p>
        
        <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>

        <button id="salvareFiltre" class="btn btn-secondary">
            <i class="bi bi-save"></i>
            <span class="d-none d-md-inline">Salvează Filtrele</span>
        </button>    
        <button id="repunereFiltre" class="btn btn-secondary">
            <i class="bi bi-save"></i>
            <span class="d-none d-md-inline">Incarca Filtrele</span>
        </button>      

        <section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" >
                        <h3 class="nume">Nume: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div class="coloane">
                            <div class="col1">
                                <figure>
                                    <a href="/produs/<%-prod.id %>" ><img src="<%- prod.imagine %>" style="width:80%;height:auto;" alt="[imagine <%- prod.nume %>]" /></a>
                                    <figcaption>
                                        <p class="Id">artc_<span class="val-id"><%- prod.id%></span></p>
                                    </figcaption>
                                </figure>
                                <ul>
                                    <li class="pret">Pret: <span class="val-pret"><%- prod.pret%></span>
                                        <%
                                            let pret_minim = true;
                                            for(let prod2 of locals.produse){
                                                if(prod2.gen_ceas === prod.gen_ceas && parseInt(prod2.pret)<parseInt(prod.pret)){
                                                    pret_minim = false;
                                                    break;
                                                }
                                            }
                                            console.log(pret_minim);
                                            if (pret_minim) { %>
                                                <span class="min-price-label">Cel mai ieftin produs!</span>
                                            <% } 
                                        %>
                                    </li>
                                    <li class="brand">Brand: <span class="val-brand"><%- prod.brand%></span></li>
                                    <li class="functii">Functii: <span class="val-functii"><%- prod.functii%></span></li>
                                    <li class="data">Data adăugare:<span class="val-data"> 
                                        <time datetime="<%- prod.data_adaugare.toISOString() %>">
                                            <%- new Date(prod.data_adaugare).toLocaleDateString('ro-RO', { day: 'numeric', month: 'long', year: 'numeric' }) %>
                                            <%- '[' + new Date(prod.data_adaugare).toLocaleDateString('ro-RO', { weekday: 'long' }) + ']' %>
                                        </time>
                                        </span>
                                    </li>
                                    <li class="water">Rezistent la apă: <span class="val-water"><%- prod.water_resistant ? 'Da' : 'Nu' %></span></li>
                                    <li class="diametru">Diametru cadran: <span class="val-diametru"><%- prod.diametru_cadran%> mm</span></li>
                                    <li class="mecanism">Mecanism: <span class="val-mecanism"><%- prod.mecanism%></span></li>
                                </ul>
                            </div>
                            <div class="col2">
                                <div id="pozitionare">
                                <p class="categorie">Categorie:<span class="val-categorie"><%- prod.gen_ceas%></span></p>
                                <p class="descriere">Descriere:<span class="val-descriere"><%- prod.descriere%></span></p>
                                </div>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter-<%- prod.id %>">
                                Launch demo modal
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter-<%- prod.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Modal window</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <article id="art-produs">
                                                    <% var productId = prod.id; 
                                                    console.log(productId)%>
                                                    <h3><span class="nume"><%- prod.nume %></span></h3>
                                                    <p>Pret: <span class="pret"><%- prod.pret %> </span></p>
                                                    <p>Descriere: <span class="descriere"><%- prod.descriere %> </span></p>
                                                    <p>Diametru cadran: <span class="diametru"><%- prod.diametru_cadran %> </span></p>
                                                    <p>Gen: <span class="gen"><%- prod.gen_ceas %> </span></p>
                                                    <p>Mecanism: <span class="mecanism"><%- prod.mecanism %> </span></p>
                                                    <p>Tip display: <span class="display"><%- prod.display %> </span></p>
                                                    <p>Brand: <span class="brand"><%- prod.brand %> </span></p>
                                                    <p>Functii: <span class="functii"><%- prod.functii %> </span></p>
                                                    <p>Rezistanta apa: <span class="water"><%- prod.water_resistant %> </span></p>
                                                    <p>Data adăugare: <span class="categorie"><%- prod.data_adaugare %> </span></p>
                                                    <figure class="imag-produs">
                                                        <img  src="../<%- prod.imagine %>" alt="[imagine <%- prod.nume %>]" />
                                                    </figure>    
                                                </article>
                                                <%console.log(prod.nume)%>
                                            </div>
                                            <div class="modal-footer">
                                                <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                                                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- <label class="selecteaza-cos">
                                Selectează:<br/>
                                <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                            </label> -->
                        </div>
                    </article>
                <% }%>
            </div>
        </section>
        <div class="pagination" id="pagination"> 
            <a href="#" id="prev">Previous</a> 
            <a href="#" class="page-link" data-page="1">1</a> 
            <a href="#" class="page-link" data-page="2">2</a> 
            <a href="#" class="page-link" data-page="3">3</a> 
            <a href="#" id="next">Next</a> 
            <p id="page-numbers"> </p> 
        </div> 
        <script src="/resurse/js/script_produse.js">  </script> 
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>